{layout 'layout.latte'}

{block content}
    <div class="mt-16">
        <h1 class="text-2xl text-center" n:block="title">{$category->name}</h1>

        {include 'sections/blog-list.latte'}
    </div>
{/block}
